/********** General **********/


*, html, body {
	margin: 0;
	padding: 0;
}

hr {
	margin-bottom: 10px;
}

h1 {
	font-size: 2.7em;
	font-family: 'Roboto Mono', monospace;
	font-weight: 700;
	margin-bottom: 10px;
}

h2 {
	font-size: 4em;
	font-family: 'Roboto Mono', monospace;
	font-weight: 700;
	text-align: center;
	margin-bottom: 50px;
}

p {
	font-size: 1.5em;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
}

a {
	font-family: 'Roboto', sans-serif;
}

button {
	padding: 7px 20px;
	background-color: #3B444B;
	color: #F5F5F5;
	font-size: 1.4em;
	border-radius: 8px;
	font-weight: 300;
	border: 1px solid #F5F5F5;
	cursor: pointer;
}

button:hover {
	background-color: #F5F5F5;
	color: #3B444B;
	border: 1px solid #3B444B;
	transition: background-color 1s;
	transition: color 0.5s;
}

section {
	padding: 70px 0;
}

	.dark-text {
		color: #666;
	}

	.light-text {
		color: #ccc;
	}

	.dark-back {
		background-color: #3E424A;
	}

	.light-back {
		background-color: #F5F5F5;
	}

.container {
	max-width: 800px;
	margin: 0 auto;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	width: 100%;
}

.half {
	width: 50%;
}


/********** Top Banner **********/


#jumbotron {
	height: 500px;
  	background: transparent;
  	display: flex;
}

#jumbotron .container {
	max-width: 350px;
	text-align: center;
	margin: auto;
}

#jumbotron h1 {
	font-size: 3em;
}

#jumbotron p {
	font-size: 1.7em;
}


/********** NavBar **********/


#navbar {
	width: 100%;
	display: flex;
	box-shadow: 2px 2px 20px #333;
	z-index: 100;
}

nav {
	display: flex;
	margin: 0 auto;
	height: 70px;
}

nav .nav-link-box:hover {
	border-bottom: 2px solid #fff;
	color: #fff;
	text-shadow: 2px 2px #333;
}

nav a {
	text-decoration: none;
	font-size: 22px;
	margin: auto 30px;
	line-height: 67px;
}

#navbar-logo {
	background: url("../images/logo/light-grey-logo.png");
	background-size: cover;
	height: 50px;
	width: 69px;
	margin: auto;
}

#navbar-logo:hover {
	background: url("../images/logo/white-logo.png");
	background-size: cover;
	height: 50px;
	width: 69px;
	margin: auto;
	cursor: pointer;
}

.active-link {
	border-bottom: 2px solid #fff;
	color: #fff;
	text-shadow: 2px 2px #333;
}

.navbar-fixed {
    top: 0;
    z-index: 100;
  	position: fixed;
    width: 100%;
}

.navbar-fixed-margin-top {
	margin-top: 70px;
}


/********** About Me **********/


#about p {
	line-height: 1.5;
}


/********** Portfolio **********/


#portfolio a, #portfolio p {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

#portfolio a {
	font-weight: 700;
}

#portfolio p {
	font-weight: 300;
	margin: 10px 0 40px;
}

#portfolio img {
	width: 100%;
	margin-bottom: 10px;
}

.portfolio-picture {
	display: flex;
	width: 30%;
}


/********** Contact **********/


.contact-option {
	display: flex;
	align-items: center;
	padding: 10px 0;
}

.contact-option p {
	margin-left: 20px;
}

#contact input , #contact textarea {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border: 2px solid #aaa;
	border-radius: 8px;
	font-size: 1.4em;
	font-family: 'Roboto', sans-serif;
	resize: none;
	font-weight: 300;
	color: #333;
}

/* Changes Input and Textarea placeholder color to light grey */
input::-webkit-input-placeholder { color: #aaa !important; }
input:-moz-placeholder { /* Firefox 18- */ color: #aaa !important; } 
input::-moz-placeholder {  /* Firefox 19+ */ color: #aaa !important; }
input:-ms-input-placeholder { color: #aaa !important; }
textarea::-webkit-input-placeholder { color: #aaa !important; }
textarea:-moz-placeholder { /* Firefox 18- */ color: #aaa !important; }
textarea::-moz-placeholder {  /* Firefox 19+ */ color: #aaa !important; }
textarea:-ms-input-placeholder { color: #aaa !important; }


/********** Blog Post *********/


.blog-title {
	margin-bottom: 0;
}

.date {
	font-size: 1em;
	line-height: 2em;
	font-family: 'Roboto', sans-serif;
	color: #94a2af;
}

#blog button {
	position: relative;
	margin-top: 10px;
	align-self: flex-end;
}

.post {
	margin-top: 70px;
}

.post button {
	position: initial;
	right: 0;
}

/********** Footer **********/

footer {
	background-color: #222;
	padding: 20px 0;
}

footer p {
	text-align: center;
	font-size: 1em;
}

.icons {
	margin: 20px auto;
	width: 212px;
}

footer img {
	width: 30px;
	margin: 0 10px;
}

@media screen and (max-width: 1100px) {
	.portfolio-picture {
		width: 45%;
	}
}

@media screen and (max-width: 900px) {
	.portfolio-picture, .half, input, textarea, .container {
		width: 90%;
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 2.5em;
	}

	p {
		font-size: 1em;
	}

	nav a {
		margin: auto 10px;
	}

	#navbar-logo {
		display: none;
	}
}














